.mat-mdc-cell.centered {
  text-align: center;
  justify-content:center;
}

.mat-mdc-header-cell.centered {
  flex-direction: column;
  justify-content: center;
}

.narrow {
  max-width: 85px;
}

.space-right {
  margin-right: 10px;
}

.gold-medal {
  color: gold
}

.silver-medal {
  color: silver
}

.bronze-medal {
  color: burlywood
}


