.mat-column-place {
  max-width: 3.5rem;
}

.mat-column-placements {
  justify-content: center;
}

.mat-column-participations,
.mat-column-winPercentage,
.mat-column-points,
.mat-column-matches {
  width: 85px;
  text-align: center;
}

.mat-column-score {
  max-width: 110px;
  text-align: center;
}

.space-right {
  margin-right: 10px;
  display: inline;
}

.gold-medal {
  color: gold
}

.silver-medal {
  color: silver
}

.bronze-medal {
  color: burlywood
}
