<mat-card appearance="outlined" style="margin-top:2em;" *ngIf="!!group">
  <mat-card-header style="margin-bottom:1em;">
    <mat-card-subtitle *ngIf="groupCompleted" class="roundOver">
      Die Gruppe ist beendet.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
      <table mat-table #standing [dataSource]="totals" style="padding-bottom:2em;">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="games">
          <th mat-header-cell *matHeaderCellDef> Spiele </th>
          <td mat-cell *matCellDef="let item"> {{item.games}} </td>
        </ng-container>

        <ng-container matColumnDef="won">
          <th mat-header-cell *matHeaderCellDef> Siege </th>
          <td mat-cell *matCellDef="let item"> {{item.won}} </td>
        </ng-container>

        <ng-container matColumnDef="goals">
          <th mat-header-cell *matHeaderCellDef> Punkte </th>
          <td mat-cell *matCellDef="let item"> {{item.scoredGoals}} : {{item.receivedGoals}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTotals"></tr>
        <tr mat-row [class]="getStandingClass(row)" *matRowDef="let row; columns: displayedColumnsTotals;"></tr>
      </table>
      <mat-card-actions *ngIf="groupActive && canFinalize && allGamesOver()">
        <button
          mat-button
          color="warn"
          (click)="finalize()">
          Gruppe Abschließen
        </button>
      </mat-card-actions>

    <div style="display: flex; flex-wrap: wrap; gap: 0.5em; ">
      @for (match of group.matches; track match) {
        <app-match
          [match]="match"
          [disabled]="!groupActive"
          (change)="emitChange($event)">
        </app-match>
      }
    </div>

  </mat-card-content>
</mat-card>
