<mat-card appearance="outlined" style="margin-top:2rem;" *ngIf="!!group">
  <mat-card-header style="margin-bottom:1rem;">
    <mat-card-subtitle>
      <span style="color:red;" *ngIf="this.group.status == 2">
          Die Gruppe ist beendet.
      </span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style="margin-bottom:2rem;" class="mat-elevation-z2">
      <mat-table #standing [dataSource]="totals">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="games">
          <mat-header-cell *matHeaderCellDef> Spiele </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.games}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="won">
          <mat-header-cell *matHeaderCellDef> Siege </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.won}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="goals">
          <mat-header-cell *matHeaderCellDef> kleine Punkte </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.scoredGoals}} : {{item.receivedGoals}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsTotals"></mat-header-row>
        <mat-row [class]="getStandingClass(row)" *matRowDef="let row; columns: displayedColumnsTotals;"></mat-row>
      </mat-table>
      <mat-card-actions>
        <button mat-button color="warn" *ngIf="this.group.status != 2 && canFinalize()" mat-button [disabled]="!allGamesOver()" (click)="finalize()">Abschließen</button>
       </mat-card-actions>
    </div>

    <div class="mat-elevation-z2">
      <mat-table #games [dataSource]="matches">
        <ng-container matColumnDef="p1">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let item">
              {{item.playerOne.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="p2">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let item">
              {{item.playerTwo.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="score">
          <mat-header-cell *matHeaderCellDef> Spielstand </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button *ngIf="!scoreEditDisabled(item)" [disabled]="plusDisabled(1, item)"
              (click)="plus(item.playerOne)">+</button>
            <button *ngIf="!scoreEditDisabled(item)" [disabled]="minusDisabled(1, item)" (click)="minus(item.playerOne)"
              style="margin-left: 10px; margin-right: 20px;">-</button>
              <div *ngIf="!cancelled(item)"> {{item.playerOne.points}} : {{item.playerTwo.points}} </div>
              <div *ngIf="cancelled(item)"> cancelled </div>
            <button *ngIf="!scoreEditDisabled(item)" [disabled]="plusDisabled(2, item)" (click)="plus(item.playerTwo)"
            style="margin-left: 20px; margin-right: 10px;">+</button>
          <button *ngIf="!scoreEditDisabled(item)" [disabled]="minusDisabled(2, item)"
            (click)="minus(item.playerTwo)">-</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cancel">
          <mat-header-cell *matHeaderCellDef> * </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button *ngIf="cancellable(item)" (click)="cancel(item)">cancel</button>
            <button *ngIf="uncancellable(item)" (click)="uncancel(item)">aktivieren</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsMatches"></mat-header-row>
        <mat-row [class]="getMatchClass(row)" *matRowDef="let row; columns: displayedColumnsMatches;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
