<footer class="footer">
  <button mat-button color="primary" >
    <a target="_blank" rel="noopener" href="https://github.com/EluciusFTW">
      2022-24 by EluciusFTW
      <i class="fab fa-github"></i>
    </a>
  </button>

  @if (!isLoggedIn) {
    <button mat-button color="primary" (click)="login()">
      <div class="material-icons">login</div>
    </button>
  } @else {
    <button mat-button color="primary" (click)="logout()">
      {{ displayName }}
      <div class="material-icons">logout</div>
    </button>
  }

</footer>
