<footer class="footer">
  <button mat-button color="primary" >
    <a target="_blank" rel="noopener" href="https://github.com/EluciusFTW">Copyright 2022 by @EluciusFTW</a>
  </button>

  <button mat-button color="primary" *ngIf="!isLoggedIn(); else loggedIn" (click)="login()">
    <div class="material-icons">login</div>
  </button>

  <ng-template #loggedIn>
    <button mat-button color="primary" (click)="logout()">
      {{ displayName() }}
      <div class="material-icons">logout</div></button>
  </ng-template>
</footer>
