<app-content-tile [header]="'Ligabetrieb'">
  <p>
    Die Billardfabrik nimmt aktiv am Ligabetrieb im Pool-Billard teil. In der Saison 2024/25 geht die Billardfabrik mit
    vier Mannschaften an den Start:
  </p>
  <ul style="margin-right: 2rem">
    <li>
      <b>BF 1 (2. BUNDESLIGA Nordstaffel)</b>
      <p>
        Unser A-Team konnte vergangene Saison die Klasse über die Relegation halten und tritt wieder in der 2. Bundesliga an.
      </p>
      <p>
        Auch dieses Jahr konnten wir jemanden Neues dazu gewinnen! Finn Böge, ein Jugendspieler aus Lübeck, unterstützt das Team um
        Sven Neumann (MF), Clemens Ebert, Ivan Rudenko, Ammar Al-Khalaf, Sven Wenkheimer und Tobias Georgi in dieser Saison. Unser Ziel: Klassenerhalt! <a href="https://billard-union.net/sb_spielplan.php?p=10--2024/2025-113" target="_blank">(aktuelle Tabelle)</a>
      </p>
      <!-- <figure>
        <img style="max-width: 100%" src="../../assets/pics/Tobi-Ivan.jpeg" alt="Foto der Trikotübergabe an Ivan Rudenko.">
        <figcaption>Mannschaftsführer Tobias Georgi (li.) und Neuzugang Ivan Rudenko, ukrainischer Jungendspieler (re.).</figcaption>
      </figure> -->
    </li>
    <li>
      <b>BF 2 (Verbandsliga Sachsen)</b>
      <p>
        Nach mehr als drei Jahren schaffte es die zweite Mannschaft der Billardfabrik ins sächsische Oberhaus.
        Die Stammmannschaft bleibt nach dem Erfolg die Gleiche: István Pataki (MF), Guy Buss, Heiko Linß, Vinh Nguyen, Bastian Delitz, Maximilian Grund.
      </p>
      <p>
        Hochgestecktes Ziel ist es um die Sächsische Mannschaftsmeisterschaft mitzuspielen.
      </p>
    </li>
    <li>
      <b>BF 3 (Landesliga Sachsen)</b>
      <p>
        Eine sensationelle Saison 23/24 legte unsere Dritte hin, nachdem Sie in der Landesliga teilweise ohne Spielbetriebserfahrung starteten.
        Mit 19 von 24 möglichen Punkten erreichten Sie mit gutem Abstand den 1. Platz und stiegen direkt in ihrer ersten Saison in die Verbandsliga auf.
        Hier wird es etwas schwerer, aber die Mannschaft wird noch einmal alles geben und bekommt dabei Unterstützung von Neuzugängen aus unserem Verein!
      </p>
      <p>
        Martin Weichhold (MF) wird seine Mannschaft um Denis Kliewer, Ralf Heinecke, Tobias Hebel, Jamal Mellouk, Christian Rosengrün, Osama Henefi und Badreddine Boutahar zu Höchstleistungen motivieren!
      </p>
    </li>
    <li>
      <b>BF 3 (Landesliga Sachsen)</b>
      <p>
        Durch den anhaltenden Zuwachs an Mitglieder:innen in unserem Verein können wir diese Saison eine weitere Mannschaft an den Start bringen und besetzen so als einziger Verein alle drei Spielklassen in Sachsen!
      </p>
      <p>
        Viele Neulinge, die von erfahrenen Spielern unterstützt werden sind in dieser Newbie-Mannschaft und werden die kommenden Spieltage nutzen um Erfahrungen im Wettkampf zu gewinnen.
      </p>
      <p>
        Thanh Tran (MF) ist neu im Geschäft und führt die Truppe um Sebastian Müller, Peter Kästel, Markus Böttger, Marvin Falk, Franka Schwellnus, Thanh Nguyen, Anton Jäger, Benaja Haug, Max Karbe (…) an.
      </p>
    </li>
  </ul>
