<app-content-tile [header]="'Ligabetrieb'">
  <p>
    Die Billardfabrik nimmt aktiv am Ligabetrieb im Pool-Billard teil. In der Saison 2021/22 geht die Billardfabrik mit zwei Mannschaften an den Start:
  </p>
  <ul>
    <li><b>BF 1 (Regionalliga Ost)</b>
      <p>
        Nach erfolgreicher letzter Saison, in der die erste Mannschaft der Billardfabrik
        Sachsenmeister geworden ist und somit in den bundesweiten Spielbetrieb aufgestiegen ist, versucht sie nun firm
        Fuß
        in der Regionalliga - auch 3. Bundesliga genannt - zu fassen. Das Ziel heißt in der erstan Saison erstmal klar:
        Klassenerhalt. <a href="https://portal.billardarea.de/cms_leagues/plan/7747/10246" target="_blank">(aktuelle Tabelle)</a>
      <p>
        Es spielen: Tobias Georgi (c), Clemens Ebert, Sven Wenkheimer und István Pataki.
      </p>
    </li>
    <li><b>BF 2 (Verbandsliga Sachsen)</b>
      <p>
        Nachdem die zweite Mannschaft in der Saison 2019/20 in die Oberliga als
        NAchrücker aufgestiegen ist, wurden die Ligen nach der abgebrochenen Saison 2020/21 wieder aufgestockt. Leider
        bedeutete das für die Mannschaft, dass sie wieder in der Verbandsliga antreten muss. Klares Ziel ist der
        Aufstieg in die Oberliga! <a href="https://sbv.billardarea.de/cms_leagues/plan/8238/10805" target="_blank">(aktuelle Tabelle)</a>
      </p>
      <p>
        Es spielen: Sebastian Müller (c), Jonas Calefice, Vinh Nguyen, Maximilian Grund, Alec Baldin und
        Slim Cherif.
      </p>
    </li>
  </ul>
