<app-content-tile [header]="'Ligabetrieb'">
  <p>
    Die Billardfabrik nimmt aktiv am Ligabetrieb im Pool-Billard teil. In der Saison 2025/26 geht die Billardfabrik mit
    vier Mannschaften an den Start:
  </p>
  <ul style="margin-right: 2rem">
    <li>
      <b>BF 1 (2. BUNDESLIGA Nordstaffel)</b>
      <p>
        Das zweite Jahr in Folge hielt unsere erste Mannschaft nun die Klasse und tritt wieder in der 2.Bundesliga an. Sven Neumann wird das Team um Clemens Ebert, Ivan Rudenko und Finn Böge anführen.
      </p>
      <p>
        In erster Linie gilt der Klassenerhalt als Mindestziel. Die Jungs wollen diese Saison aber eine Schippe drauflegen und vorn angreifen!
      </p>
    </li>
    <li>
      <b>BF 2 (Regionalliga Ost)</b>
      <p>
        Schaffte es die zweite Mannschaft der Billardfabrik letzte Saison (noch) als Zweitplatzierter ins sächsische Oberhaus, so wurde das in diesem Jahr mit einem direkten Aufstieg in die Regionalliga („3.Bundesliga“) gekrönt. Das ist ein Novum! Erstmals sichert sich ein Verein aus Sachsen zwei Startplätze in überregionalen Ligen!
      </p>
      <p>
        Die Stammmannschaft bleibt nach dem Erfolg die Gleiche: István Pataki (MF), Guy Buss, Heiko Linß, Vinh Nguyen, Bastian Delitz, Maximilian Grund. Hinzukommen Ammar Al-Khalaf und Sven Wenkheimer.
      </p>
      <p>
        Der Sprung von Oberliga zur Regionalliga ist sehr hoch, doch gemeinsam werden wir diese in Angriff nehmen und die Klasse halten!
      </p>
    </li>
    <li>
      <b>BF 3 (Verbandsliga Sachsen)</b>
      <p>
        Unsere Dritte hielt letzte Saison die Klasse und kann jetzt den Angriff auf die vorderen Positionen angehen! Vor allem hier gab es ein paar Anpassungen der Mannschaft.
      </p>
      <p>
        Martin Weichhold (MF) wird seine Mannschaft um Denis Kliewer, Ralf Heinecke, Tobias Hebel, Jamal Mellouk, Osama Hanafi und Thanh Nguyen zu Höchstleistungen motivieren! Unterstützt wird er dabei durch einen veteranen der 1. Mannschaft, Tobias Georgi. Er kann berufsbedingt nicht mehr so häufig am Spielgeschehen teilnehmen, deshalb hält er hier einen strategischen Posten.
      </p>
    </li>
    <li>
      <b>BF 4 (Landesliga West-Sachsen)</b>
      <p>
        Der Vereinszuwachs bleibt erfreulicherweise konstant und so können mehr und mehr vom Spielbetrieb profitieren. Viele Neulinge, die von erfahrenen Spielern unterstützt werden, nutzen die kommenden Spieltage um sich ihre Sporen im Wettkampf zu erspielen!
      </p>
      <p>
        Benaja Haug (MF) führt die Truppe um Sebastian Müller, Peter Kästel, Markus Böttger, Marvin Falk, Nhat Nguyen, Franka Schwellnus, Minh Duc ,Daniel Voigt, Phong Truong, Christian Rosengrün, Lauri und Than Tran an.
      </p>
    </li>
  </ul>
</app-content-tile>