.mat-column-date,
.mat-column-p1,
.mat-column-p2 {
  max-width: 300px;
}

.mat-column-diff {
  text-align: center;
  width: 5em;
}

.mat-column-score {
  text-align: center;
  max-width: 100px;
  padding:0
}

.mat-column-date {
  max-width: 8em;
}
