@import '~@angular/material/theming';
@import '../../app/app-theme.scss';

$color-primary-red: rgba(0, 0,0, 0.04);
$color-primary-green:rgba(0, 0,0, 0.02);
$color-primary-blue: #edeee3;

$color-quarter-darken: rgba(0, 0,0, 0.02);
$color-half-darken:  rgba(0, 0,0, 0.04);
$color-darken: red;

$color-attention-tile: #f9cea9;
$color-news-tile: #c2efc2;
$color-general-tile: $color-darken;

$color-font-grey: #272727;
$color-font-menu: #272727;

$color-menu-active: $color-primary-blue;
$color-menu-section: $color-primary-green;
$color-menu-section-header: $color-darken;

$prim:  #780F07;
$sec:  #63717e;
$third: #0A122A;
$fourth: #EAE2D6;
$fifth: #D9CAB3;
$mat-prim: map-get($mat-blue-grey, 200)


