.menu-horizontal-outlet{
  margin-top: 2rem;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

    .menu-item{
      padding: 5px 15px;
      font-size: .75rem;
      font-weight: 600;
      display: flex;
      cursor: pointer;
      //background-color: $fourth;
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 4px;
      border-width: 1px;
      // border-style: dashed;
      text-transform: uppercase;

      :hover {
        cursor: pointer;
      }
  }

  .active-menu-point {
    background: $color-darken;
  }
}

