<app-content-tile [header]="'Details'">
  <p>
    Gespielt wird 8-Ball, 9-Ball und 10-Ball im zweiwöchentlichen Wechsel. Das Startgeld beträgt 8€ (7€ davon werden
    direkt am Abend ausgeschüttet, 1€ geht in den Jackpot).
    Zusätzlich gibt es ein Leaderboard für das Du Punkte sammeln kannst.
  </p>
  <p> Ausschüttung, der genaue Modus und die
    Leaderboard-Punkte variieren etwas, je nach Teilnehmerzahl:
  </p>
  <div class="mat-elevation-z2" style="margin-top:1rem;">
    <mat-table #tourneyModeTable [dataSource]="detailsDataSource">
      <ng-container matColumnDef="nrOf">
        <th mat-header-cell *matHeaderCellDef> Anzahl Teilnehmer </th>
        <td mat-cell *matCellDef="let element"> {{element.nrOf}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Turniermodus </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="places">
        <th mat-header-cell *matHeaderCellDef> Platzierung </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let place of element.places">{{place}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="payout">
        <th mat-header-cell *matHeaderCellDef> Ausschüttung </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let payout of element.payout">{{payout}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Punkte </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let entry of element.points">{{entry}}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayDetails"></tr>
      <tr mat-row *matRowDef="let row; columns: displayDetails;"></tr>
    </mat-table>
  </div>
  <span style="font-size: 12px; ">
    <b>*gelost wird nach folgenden Regeln:</b> In der ersten K.O.-Runde trifft man nicht auf einen Spieler aus
    der eigenen Gruppe, aber die Erstplazierten werden nicht gesetzt.
  </span>
  <br>
</app-content-tile>
