.full-width {
    width: 100%;
  }


.mat-column-title {
    width:220px;
}

.mat-column-prize {
    width:404px;
}

.mat-column-criterion {
    width:400px;
}

.mat-column-nrOf {
    width:120px;
}

.mat-column-description {
    width:600px;
}

.mat-column-places {
    width:80px;
}

.mat-column-points {
  width:80px;
}
.mat-column-payout {
  width:80px;
}
