
:host {
  --min-width: 50px;
}
.mat-column-nrOf {
  width:10px;
}

.mat-column-places {
  width: var(--min-width);
}

.mat-column-payout {
  text-align: right;
  width: var(--min-width);
}

.mat-column-points {
  text-align: right;
  width: var(--min-width);
}
