.full-width {
    width: 100%;
}

th.mat-header-cell {
  font-size:10px;
}

.mat-column-nrOf {
  width:100px;
}

.mat-column-description {
  width:600px;
}

.mat-column-places {
  width:80px;
}

.mat-column-payout {
  width:80px;
}

.mat-column-points {
  width:80px;
}
