<app-content-tile [header]="'Billardfabrik Leipzig e.V.'">
  <p>
    Die Billardfabrik Leipzig wurde 2017 im Stadtteil Plagwitz gegründet.
    Trainiert wird dort seitdem in den Räumlichkeiten der Mensa auf dem Gelände des Westwerks.
  </p>
  <p>
    Billardfabrik Leipzig e.V. ist ein gemeinnütziger Verein zur Förderung des Billardsports.
  </p>
  <p>
    Wir bieten ein Zuhause für alle Billardbegeisterten:
    Wir veranstalten Trainings, richten Turniere aus und nehmen am Ligabetrieb der Deutschen Billard Union (DBU) teil.
  </p>
  <p>
    Seit Anfang 2020 ist die Billardfabrik offizieller <i>Talentstützpunkt</i> des sächsischen Billardverbandes (SBV).
  </p>
</app-content-tile>
