<div style="display: flex; flex-direction: column; gap: 2em;">
  <app-content-tile [header]="'Billardfabrik Leipzig e.V.'">
    <p>
      Die Billardfabrik Leipzig wurde 2017 im Stadtteil Plagwitz gegründet.
      Trainiert wird dort seitdem in den Räumlichkeiten der Mensa auf dem Gelände des Westwerks.
    </p>
    <p>
      Billardfabrik Leipzig e.V. ist ein gemeinnütziger Verein zur Förderung des Billardsports.
    </p>
    <p>
      Wir bieten ein Zuhause für alle Billardbegeisterten:
      Wir veranstalten Trainings, richten Turniere aus und nehmen am Ligabetrieb der Deutschen Billard Union (DBU) teil.
    </p>
    <p>
      Seit Anfang 2020 ist die Billardfabrik offizieller <i>Talentstützpunkt</i> des sächsischen Billardverbandes (SBV).
    </p>
  </app-content-tile>

  <app-content-tile [header]="'Plagwitz Open 2025'">
    <p>
      Wir veranstalten über Ostern in der Mensa ein großes Poolbilard-Turnier! Alle Details sowie die Anmeldung findet ihr auf <a target="_blank" href="https://cuescore.com/tournament/Plagwitz-Open+2025/56033407">Cuescore.de</a>
    </p>
    <img style="width:100%" src="../assets/pics/plagwitz-open.jpg" alt="Plagwitz Open '25 Turnierplakat">
  </app-content-tile>
</div>
