<app-content-tile [header]="'Spiel eingeben'">
  <form [formGroup]="matchForm" (ngSubmit)="submit()">
    <div class="row-1">
      <mat-form-field class="other">
        <mat-label>Disziplin</mat-label>
        <mat-select formControlName="discipline">
          @for (discipline of disciplines; track discipline) {
            <mat-option [value]="discipline">
              {{ discipline }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row-1">
      <mat-form-field class="other">
        <mat-label>Datum</mat-label>
        <input matInput formControlName="selectDate" required [matDatepicker]="picker2">
        <mat-datepicker #picker2></mat-datepicker>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>

        @if (selectDate.errors?.['inTheFuture']) {
          <div class="error-message">Das Spiel muss schon stattgefunden haben</div>
        }
      </mat-form-field>
    </div>

    <div class="row-1">
      <mat-form-field>
        <mat-label>Spieler 1</mat-label>
        <mat-select formControlName="selectPlayerOne">
          @for (player of availablePlayers; track player) {
            <mat-option [value]="player">
              {{ player }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="points">
        <mat-label>Pkt</mat-label>
        <input type="number" matInput formControlName="playerOneScore" required>

        @if (p1s.errors?.['min']) {
          <div class="error-message">Der Score muss >= 0 sein</div>
        }
      </mat-form-field>
    </div>

    <div class="row-1">
      <mat-form-field>
        <mat-label>Spieler 2</mat-label>
        <mat-select formControlName="selectPlayerTwo">
          @for (player of availablePlayers; track player) {
            <mat-option [value]="player">
              {{ player }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field points">
        <mat-label>Pkt</mat-label>
        <input matInput type="number" formControlName="playerTwoScore" required>

        @if (p2s.errors?.['min']) {
          <div class="error-message">Der Score muss >= 0 sein</div>
        }
      </mat-form-field>
    </div>

    <div style="display: flex; flex-direction: row; gap: 1em;">
      <button mat-raised-button type="submit" [disabled]="matchForm.status === 'INVALID'">Speichern</button>
      <div style="display: flex; flex-direction: column;">
        @if (matchForm.errors?.['noWinner']) {
          <span class="error-message">Es muss einen Gewinner geben.</span>
        }
        @if (matchForm.errors?.['needed']) {
          <span class="error-message">Das Mindestausspielziel ist {{ matchForm.errors?.['needed'] }}.</span>
        }
        @if (matchForm.errors?.['duplicatePlayer']) {
          <span class="error-message">Spiele gegen sich selbst zählen nicht für den ELO Score :)</span>
        }
      </div>
    </div>

  </form>

  @if (addedMatches.length != 0) {
    <h3> Bisher eingegebene Spiele </h3>
    @for (item of addedMatches; track item) {
      <div>{{ item.playerOne.name }} vs. {{ item.playerTwo.name }} - {{item.playerOne.points}}:{{item.playerTwo.points}} ({{item.discipline}})</div>
    }
  }

</app-content-tile>
