.points {
  width: 6em;
}

.other {
  width: 20em;
}

:host{
  --mat-form-field-filled-label-text-size: 12px;
  --mat-form-field-filled-input-text-size: 4px;
}

.error-message {
  color: var(--color-error);
  font-size: .75em;
  padding-left: 1em;
  line-height: 1;
}
