<app-content-tile [header]="'Spiel eingeben'">
  <form [formGroup]="matchForm" (ngSubmit)="submit()">
    <div class="row-1">
      <mat-form-field class="other">
        <mat-label>Disziplin</mat-label>
        <mat-select formControlName="selectDiscipline">
          <mat-option *ngFor="let discipline of disciplines" [value]="discipline">
            {{ discipline }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row-1">
      <mat-form-field class="other">
        <mat-label>Datum</mat-label>
        <input matInput formControlName="selectDate" required [matDatepicker]="picker2">
        <mat-datepicker #picker2></mat-datepicker>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <div class="error-message" *ngIf="selectDate.errors?.['inTheFuture']">Das Spiel muss schon stattgefunden haben</div>
      </mat-form-field>

    </div>

    <div class="row-1">
      <mat-form-field>
        <mat-label>Spieler 1</mat-label>
        <mat-select formControlName="selectPlayerOne">
          <mat-option *ngFor="let player of availablePlayers" [value]="player">
            {{ player }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="points">
        <mat-label>Pkt</mat-label>
        <input type="number" matInput formControlName="playerOneScore" required>
        <div class="error-message" *ngIf="p2s.errors?.['min']">Der Score muss >= 0 sein</div>
      </mat-form-field>
    </div>

    <div class="row-1">
      <mat-form-field>
        <mat-label>Spieler 2</mat-label>
        <mat-select formControlName="selectPlayerTwo">
          <mat-option *ngFor="let player of availablePlayers" [value]="player">
            {{ player }}
          </mat-option>
        </mat-select>
        <div class="error-message" *ngIf="matchForm.errors?.['duplicatePlayer']">Spiele gegen sich selbst zählen nicht für den ELO Score :)</div>
      </mat-form-field>

      <mat-form-field class="example-form-field points">
        <mat-label>Pkt</mat-label>
        <input matInput type="number" formControlName="playerTwoScore" required>
        <div class="error-message" *ngIf="p2s.errors?.['min']">Der Score muss >= 0 sein</div>
        <div class="error-message" *ngIf="matchForm.errors?.['noWinner']">Es muss einen Gewinner geben.</div>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" [disabled]="matchForm.status === 'INVALID'">Speichern</button>


  </form>
</app-content-tile>
