@import '../../../assets/scss/_brandbook.scss';

.bounded {
    min-width: 400px;
    max-width: 800px;
}

.tile-content {
  color: $third;
}

.bgCol{
  background-color: $fourth;
}

mat-card {
    margin-bottom: 2rem;
}
