<app-content-tile [header]="tourney ? tourney.meta.name + ' ' + tourney.meta.date : 'Loading ...'">
  <mat-tab-group>
    <mat-tab label="Zusammenfassung">
      <app-tourney-summary [tourney]="tourney"></app-tourney-summary>
    </mat-tab>
    <mat-tab label="Gruppenphase">
      <app-tourney-group-stage [tourney]="tourney"></app-tourney-group-stage>
    </mat-tab>
    <mat-tab label="Endrunde">
      <app-tourney-elimination-stages [tourney]="tourney"></app-tourney-elimination-stages>
    </mat-tab>
  </mat-tab-group>
</app-content-tile>
