<app-content-tile [header]="'Achievements'">

  <p>
    Neben dem Preisgeld und dem Fame ('Ruhm'/'Ehre') des Leaderboards kannst Du auch noch Achievements (so was
    ähnliches wie 'Bienchen' in der Schule?) sammeln.
  </p>
  <p>
    Jedes Achievement bringt neben den Bragging Rights (du darfst damit also ruhig angeben!) auch einen kleinen Preis
    mit sich: Die Mensa und die Billardfabrik vergeben Gutscheine und Sachpreise je nach Schwierigkeit des Erfolgs.
  </p>
  <div class="mat-elevation-z2" style="margin-top:1rem;">
  <mat-table class="full-width" #tourneyModeTable [dataSource]="achievementsDataSource" mat-elevation-z2>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <i [class]="element.icon"></i></td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Achievement </th>
      <td mat-cell *matCellDef="let element">
        <i [class]="element.icon" style="margin-right:10px"></i> <span>{{element.title}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="criterion">
      <th mat-header-cell *matHeaderCellDef> Kriterium </th>
      <td mat-cell *matCellDef="let element"> {{element.criterion}} </td>
    </ng-container>

    <ng-container matColumnDef="prize">
      <th mat-header-cell *matHeaderCellDef> Preis </th>
      <td mat-cell *matCellDef="let element"> {{element.prize}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayAchievements"></tr>
    <tr mat-row *matRowDef="let row; columns: displayAchievements;"></tr>
  </mat-table>
</div>
</app-content-tile>
