<mat-tab-group>
  <mat-tab label="Einstieg">
    <app-tourney-elimination-stage [stage]="entryStage()" (change)="emitChange($event)"></app-tourney-elimination-stage>
  </mat-tab>
  <mat-tab label="Gewinner-Bracket">
    @for (stage of winnerStages(); track stage) {
      <app-tourney-elimination-stage [stage]="stage" (change)="emitChange($event)"></app-tourney-elimination-stage>
    }
  </mat-tab>
  <mat-tab label="Verlierer-Bracket">
    @for (stage of loserStages(); track stage) {
      <app-tourney-elimination-stage [stage]="stage" (change)="emitChange($event)"></app-tourney-elimination-stage>
    }
  </mat-tab>
</mat-tab-group>
