<app-content-tile [header]="'Turniere'">
  <p>
    Die Veranstaltung von Turnieren für jede Spielstärke soll fester Bestandteil des Programms der Mensa sein.
    Jeder Hobbyspieler und Enthusiast ist eingeladen, einen Abend lang mit Gleichgesinnten Billard
    zu spielen. In regulären Abständen veranstalten wir zusammen mit der Billardfabrik Leipzig e.V. auch größere, wie
    zuletzt das <em>The Day Before</em> 9-Ball Turnier, das ab 30.12.18 stattfand.
  </p>
  <p>
    Selbstverständlich werden wir alle Termine für Turniere rechtzeitig hier auf der Seite und auf
    <a target="_blank" rel="noopener" href="https://www.facebook.com/MensaLeipzig/">Facebook</a> bekanntgeben.
  </p>
  <hr>

  <app-content-header [header]="'Die Donnerstags-Serie'" [size]='2'></app-content-header>
  Unsere Hausturnierserie. Jeden zweiten Donnerstag. Jeder kann mitmachen. Mehr Infos <a
    [routerLink]="'tourney-series'">hier</a>.
  <hr>

  <app-content-header [header]="'Last Days Before'" [size]='2'></app-content-header>
  Jedes Jahr laden wir kurz vor dem Jahreswechsel zum <i>Last Days Before</i> 9-Ball-Turnier ein.
</app-content-tile>
