<app-content-tile [header]="'Kontakt'">
  <p>
    Am besten Du kommst einfach mal Abends in der Mensa vorbei. Es ist fast immer jemand von uns da. Frag einfach am
    Tresen nach jemanden aus dem Verein.
  </p>
  <p>
    Du erreichst uns aber natürlich auch anders!
  </p>
  <table>
    <tr>
      <td>
        <i class="far fa-envelope"></i>
      </td>
      <td> Billardfabrik(at)gmail.de</td>
    </tr>
    <tr>
      <td>
        <a target="_blank" rel="noopener" href="https://www.facebook.com/MensaLeipzig/">
          <i class="fab fa-facebook-square"></i>
        </a>
      </td>
      <td>
        <a target="_blank" rel="noopener" href="https://www.facebook.com/BillardFabrikLeipzigEV/">Billardfabrik auf Facebook</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-phone"></i>
      </td>
      <td> 0170 / 1838877 </td>
    </tr>
  </table>
