<div id="toolbar">

  <img id="logo" src="../assets/logos/logo.svg" alt="Logo der Billardfabrik Leipzig e.V." [routerLink]="'about'">

  <div id="menu-horizontal">
    <div class="menu-item" [routerLink]="'mensa'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">home_work</mat-icon>
      <span class="menu-item-text">Mensa</span>
    </div>
    <div class="menu-item" [routerLink]="'membership'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">groups</mat-icon>
      <span class="menu-item-text">Mitgliedschaft</span>
    </div>
    <div class="menu-item" [routerLink]="'ranking'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">trending_up</mat-icon>
      <span class="menu-item-text">Rangliste</span>
    </div>
    <div class="menu-item" [routerLink]="'tourney-series'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">emoji_events</mat-icon>
      <span class="menu-item-text">Turniere</span>
    </div>
    <div class="menu-item" [routerLink]="'training'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">sports_kabaddi</mat-icon>
      <span class="menu-item-text">Training</span>
    </div>
    <div class="menu-item" [routerLink]="'league'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">scoreboard</mat-icon>
      <span class="menu-item-text">Liga</span>
    </div>
    <div class="menu-item" [routerLink]="'contact'" routerLinkActive="bgcol-primary-darker">
      <mat-icon class="menu-item-icon">mail_outline</mat-icon>
      <span class="menu-item-text">Kontakt</span>
    </div>
  </div>

  <span class="fill-remaining-space"></span>

  <div id="burger-icon-container">
    <button mat-button [matMenuTriggerFor]="mainmenu">
      <mat-icon class="burger-icon">menu</mat-icon>
    </button>
    <mat-menu #mainmenu="matMenu">
      <button mat-menu-item [routerLink]="'about'">Über uns</button>
      <button mat-menu-item [routerLink]="'mensa'">Spielstätte</button>
      <button mat-menu-item [routerLink]="'membership'">Mitgliedschaft</button>
      <button mat-menu-item [matMenuTriggerFor]="tourneymenu">Donnerstags-Turniere</button>
      <button mat-menu-item [matMenuTriggerFor]="rankingmenu">Rangliste</button>
      <button mat-menu-item [routerLink]="'training'">Training</button>
      <button mat-menu-item [routerLink]="'league'">Ligabetrieb</button>
      <button mat-menu-item [routerLink]="'contact'">Kontakt & Impressum</button>
    </mat-menu>

    <mat-menu #tourneymenu="matMenu">
      <button mat-menu-item [routerLink]="'tourney-series/overview'">Details</button>
      <button mat-menu-item [routerLink]="'tourney-series/leaderboard'">Leaderboards</button>
      <button mat-menu-item [routerLink]="'tourney-series/list'">Turniere</button>
    </mat-menu>

    <mat-menu #rankingmenu="matMenu">
      <button mat-menu-item [routerLink]="'ranking/players'">Rangliste</button>
      <button mat-menu-item [routerLink]="'ranking/matches'">Matches</button>
      <button mat-menu-item [routerLink]="'ranking/details'">Details</button>
      @if (isLoggedIn) {
        <button mat-menu-item [routerLink]="'ranking/import'">Import</button>
        <button mat-menu-item [routerLink]="'ranking/player-management'">Spielerverwaltung</button>
      }
    </mat-menu>
  </div>

  <a target="_blank" rel="noopener" href="https://www.facebook.com/BillardFabrikLeipzigEV/">
    <i id="fbIcon" class="fab fa-facebook-square fa-2x"></i>
  </a>
</div>

<div id="horizontal-separator"></div>
