@import '../../assets/scss/_brandbook';
@import '../../assets/scss/_breakpoints';

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  #logo {
    height: 80px;
  }

  #menu-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 2rem;

    .menu-item {
      padding: 13px 15px;
      display: flex;
      gap:5px;
      font-size: .75rem;
      font-weight: 600;
      text-transform: uppercase;

      :hover {
        cursor: pointer;
      }

      .menu-item-icon {
        color: var(--color-primary);
      }
    }

    .active-menu-point {
      background: $color-darken;
    }
  }

  #fbIcon{
    color: var(--color-primary);
    height: 24px;
  }

  #burger-icon-container {
    display: none;

    .burger-icon {
      color: var(--color-primary);
    }
  }

  @media only screen and (max-width: $breakpoint1) {
    .menu-item-text {
        display: none;
    }

    .menu-item-icon {
      display: block;
    }
  }

  @media only screen and (max-width: $breakpoint2) {
    #menu-horizontal {
      visibility: hidden;
    }

    #burger-icon-container {
      display: block;
    }
  }
}

#horizontal-separator {
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
}
