@import '../app-theme.scss';
@import '../../assets/scss/brandbook';

.toolbar {
  display: flex;
    flex-direction: row;
    align-items: flex-end;
    // background-color: $color-lighten;

    padding-left: 2rem;
    padding-right:2rem;
}

div.menu-bar {
  :first-child {
      margin-left: 0rem;
  }

  :hover {
      opacity: 0.5;
      cursor: pointer;
  }
}

span.menu-item {
  margin-left: 20px;
  padding: 10px;

  .menu-item-text {
      margin-left: 6px;
  }

  .special {
      padding-bottom:2px;
  }
}

#logo {
  height: 50px;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.menu-horizontal .menu-item {
  padding: 5px 15px;
  font-size: .75rem;
  display: flex;
  cursor: pointer;
  background-color: mat-color($primary);
  margin-top: 1rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border-width: 1px;
  text-transform: uppercase;
}

.menu-horizontal-outlet {
  margin-top: 2rem;
}

.menu-horizontal .active-menu-point {
  background: $color-darken;
}
