@import '../../assets/scss/_brandbook';
@import '../../assets/scss/_menu';

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: black;
  border-style: dotted;
  border: 4px;
}

.bf {
  margin-bottom: 12px;
  color: var(--color-primary);
}

.fbIcon{
  color: var(--color-primary);
  height: 24px;
}

#burger-icon-container {
  display: none;

  .burger-icon {
    color: var(--color-primary);
  }
}


.horizontal-separator {
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
}

.menu-horizontal{
  margin-left: 2rem;
}

.menu-item-icon {
  color: var(--color-primary);
  margin-right: 5px;
}

#logo {
  height: 80px;
}

@media only screen and (max-width: var(--bp-1)) {
  .menu-horizontal {
      visibility: hidden;
  }

  #burger-icon-container {
    display: block;
  }
}

@media only screen and (max-width: var(--bp-1)) {
  .menu-item-text {
      display: none;
  }

  .menu-item-icon {
    display: block;
  }
}
