<div class="toolbar">
  <img id="logo" src="../assets/logos/logo.svg" alt="Logo der Billardfabrik Leipzig e.V.">

  <div class="menu-horizontal">
    <div class="menu-item" [routerLink]="'overview'" routerLinkActive="bgcol-primary-darker">
      Willkommen
    </div>
    <div class="menu-item" [routerLink]="'prices'" routerLinkActive="bgcol-primary-darker">
      Spielstätte
    </div>
    <div class="menu-item" [routerLink]="'../billardfabrik'" routerLinkActive="bgcol-primary-darker">
      Donnerstagsturnier
    </div>
    <div class="menu-item" [routerLink]="'../billardfabrik'" routerLinkActive="bgcol-primary-darker">
      Training
    </div>
    <div class="menu-item" [routerLink]="'../billardfabrik'" routerLinkActive="bgcol-primary-darker">
      Ligabetrieb
    </div>

    <div class="menu-item" [routerLink]="'../billardfabrik'" routerLinkActive="bgcol-primary-darker">
      Kontakt & Impressum
    </div>

  </div>

  <!-- <div class="menu-bar">
    <span class="menu-item" [routerLink]="'home'" routerLinkActive="bgcol-primary-darker">
        <i class="fa fa-play"></i>
        <span class="mat-body-1 menu-item-text">Die Billardfabrik</span>
    </span>

    <span class="menu-item" [routerLink]="'angebot'" routerLinkActive="bgcol-primary-darker">
        <i class="fas fa-glass-martini"></i>
        <span class="mat-body-1 menu-item-text">Training</span>
    </span>

    <span class="menu-item" [routerLink]="'billard'" routerLinkActive="bgcol-primary-darker">
        <i class="fas fa-bowling-ball"></i>
        <span class="mat-body-1 menu-item-text">Turniere</span>
    </span>

    <span class="menu-item" [routerLink]="'dart'" routerLinkActive="bgcol-primary-darker">
        <i class="fa fa-bullseye"></i>
        <span class="mat-body-1 menu-item-text">Ligabetrieb</span>
    </span>
  </div> -->

  <span class="fill-remaining-space"></span>

  <div class="social-media-container">
      <a target="_blank" rel="noopener" href="https://www.facebook.com/BillardFabrikLeipzigEV/">
          <i class="fab fa-facebook-square fa-2x"></i>
      </a>
  </div>
</div>
