<app-content-tile [header]="'Mitgliedschaft'">
<p>
  Viele Gründe sprechen dafür regemäßiger nach dem Queue zu greifen - jeder/jede kann es spielen.
</p>
<p>
  Bist du neugierig auf das Spiel, fragst dich warum dieser oder jener Ball misslang? Oder warum du
  ständig den Tisch abräumst…? Spielst du so gern, dass du dein Können auf eine neue Ebene bringen
  möchtest, du neue Freunde und Bekanntschaften zum Spielen suchst oder willst du einfach tiefer in
  die Billardwelt eintauchen? Willst du deine Fähigkeiten auf Wettkampfebene unter Beweis stellen?
  Und das in einem einzigartigen Ambiente und auf bestem Material?
</p>
<p>
  Sprich uns bei Interesse einfach direkt an, ruf an, oder schreib eine Mail. Wir sind fast täglich zu Tisch.
</p>
Facts:
<ul>
  <li>
    Der Vereinsbeiträg liegt bei 50 Euro/Monat.
  </li>
  <li>
    Der ermäßigte Beiträg liegt bei 30 Euro/Monat und ist für alle Auszubildende, Studierende und Arbeitslose.
  </li>
  <li>
    Als Mitglied im Verein kannst Du jederzeit, wenn es nicht voll ist in der Mensa, kostenlos Pool, Snooker als auch Karambol spielen.
  </li>
  <li>
    Die Mitgliedschaft ist aber nicht nur ein Abo zum Spielen. Du triffst auf Gleichgesinnte, kannst kostenfrei am Training teilnehmen, kannst besseres Vereinsmaterial nutzen. Im Gegenzug erwarten wir etwas Engagement für den Verein und den Billardsport von Dir.
  </li>
</ul>
</app-content-tile>
