.gameOver {
  background-color: #d5d5d5;
  // background-color: rgb(255, 214, 198);
}

.roundOver {
  color: red;
}

.cancelled {
  background-color: rgb(244, 151, 96);
}

.running {
  background-color: rgb(187, 251, 187);
}
