<mat-table #tourneys [dataSource]="dataSource">

  <ng-container matColumnDef="date">
    <mat-header-cell class="very-narrow" *matHeaderCellDef> Datum </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="p1">
    <mat-header-cell *matHeaderCellDef> Spieler 1 </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.playerOne.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="p2">
    <mat-header-cell class="centered mid-wide" *matHeaderCellDef> Spieler 2 </mat-header-cell>
    <mat-cell class="centered mid-wide" *matCellDef="let item"> {{item.playerTwo.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell class="centered mid-wide" *matHeaderCellDef> Ergebnis </mat-header-cell>
    <mat-cell class="centered mid-wide" *matCellDef="let item"> {{item.playerOne.points}} : {{item.playerTwo.points}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>

</mat-table>

<button (click)="Calculate()">Calculate</button>
