.mat-column-date,
.mat-column-p1,
.mat-column-p2 {
  max-width: 300px;
}

.mat-column-diff {
  text-align: center;
  max-width: 150px;
}

.mat-column-score {
  text-align: center;
  max-width: 100px;
  padding:0
}

.neg {
  color: red;
}

.pos {
  color: green;
}

.mat-column-date {
  max-width: 8rem;
}
