@use '@angular/material' as mat;

@include mat.core();

$my-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(32px, 42px, 500, 'Jost, sans-serif'),
  $headline-2: mat.define-typography-level(32px, 42px, 500, 'Jost, sans-serif'),
  $headline-3: mat.define-typography-level(32px, 42px, 500, 'Jost, sans-serif'),
  $headline-4: mat.define-typography-level(32px, 42px, 500, 'Jost, sans-serif'),
  $headline-5: mat.define-typography-level(32px, 42px, 500, 'Jost, sans-serif'),
  $headline-6: mat.define-typography-level(28px, 34px, 500, 'Jost, sans-serif'),
  $subtitle-1: mat.define-typography-level(22px, 34px, 500, 'Jost, sans-serif'),
  $subtitle-2: mat.define-typography-level(24px, 34px, 500, 'Jost, sans-serif'),
  $body-1: mat.define-typography-level(28px, 28px, 500, 'Jost, sans-serif'),
  $body-2: mat.define-typography-level(16px, 28px, 400, 'Jost, sans-serif'),
  $caption: mat.define-typography-level(15px, 28px, 500, 'Jost, sans-serif'),
  $button: mat.define-typography-level(15px, 28px, 500, 'Jost, sans-serif')
);

$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette, 200, 100, 400),
    accent: mat.define-palette(mat.$orange-palette, 300, 200, 600),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $my-typography,
  density: 0,
));

@include mat.typography-hierarchy($my-typography);
@include mat.all-component-themes($theme);
