@import '../assets/scss/_breakpoints';

.all-content{
  display: flex;
  justify-content: center;
}

.main-content {
  padding: 1rem 2rem 1rem 2rem;
  width: 1024px;
}

@media only screen and (max-width: $breakpoint1) {
  .main-content {
      width: 800px;
  }
}

@media only screen and (max-width: $breakpoint2) {
  .main-content {
      width: 680px;
  }
}
