@if (unrankedMatches?.length === 0) {
  <div style="display:flex; justify-content: center; align-items:center; height: 10em;">
    <span>
      Hurra, es gibt zur Zeit keine unausgewerteten Spiele!
    </span>
  </div>
} @else {
  @if (isLoggedIn) {
    <mat-toolbar>
      <button mat-raised-button (click)="Calculate()" class="demo-button">
        Alle Auswerten
      </button>
    </mat-toolbar>
  }
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let item"> {{ item.date | dateKey }} </td>
    </ng-container>

    <ng-container matColumnDef="p1">
      <th mat-header-cell *matHeaderCellDef> Spieler 1 </th>
      <td mat-cell *matCellDef="let item"> {{ item.playerOne.name }} </td>
    </ng-container>

    <ng-container matColumnDef="p2">
      <th mat-header-cell *matHeaderCellDef> Spieler 2 </th>
      <td mat-cell *matCellDef="let item"> {{ item.playerTwo.name }} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Ergebnis </th>
      <td mat-cell *matCellDef="let item">
        {{ item.playerOne.points }} : {{ item.playerTwo.points }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
}
