<app-content-tile [header]="'Neues Turnier'">

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="display:flex; flex-direction: column; width: 60%">
      <mat-selection-list #selectPlayers style="flex-grow: 1;" (selectionChange)="playerSelectionChange($event)">
        @for(player of players; track player.enteredInSystem) {
          <mat-list-option style="height: auto; font-size: 1em;" [value]="player">
            {{ player | name }}
          </mat-list-option>
        }
      </mat-selection-list>

      <div>
        <button mat-raised-button (click)="addPlayer()">Neuer Spieler</button>
      </div>
    </div>

    <div style="display:flex; flex-direction: column; padding-top:8px; margin-right:0.5em;">
      <div>
        <span>Ausgewählte Spieler: </span>
        <span>{{selectPlayers.selectedOptions.selected.length}}</span>
      </div>

      <mat-form-field>
        <mat-label>Spielmodus</mat-label>
        <mat-select [(value)]="selectedPlayModus">
          @for (modus of playModi; track modus){
            <mat-option [value]="modus"> {{ modus.mode }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selectedPlayModus?.hasGroups">
        <mat-label>Anzahl Gruppen</mat-label>
        <mat-select
          [(value)]="nrOfGroupsSelected"
          [disabled]="nrOfGroups(selectPlayers.selectedOptions.selected.length).length === 1">
          @for(nr of nrOfGroups(selectPlayers.selectedOptions.selected.length); track nr){
            <mat-option [value]="nr"> {{ nr }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selectedPlayModus?.hasFirstElimination">
        <mat-label>Einfach-K.O. ab</mat-label>
        <mat-select [(value)]="firstEliminationSelected">
          @for(stageType of firstElimination; track stageType) {
            <mat-option [value]="stageType"> {{ typeName(stageType) }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Disziplin</mat-label>
        <mat-select [(value)]="disciplineSelected">
          @for(discipline of disciplines; track discipline) {
            <mat-option [value]="discipline"> {{ discipline }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ausspielziel</mat-label>
        <mat-select [(value)]="raceLengthSelected">
          @for(nr of raceLengths; track nr) {
            <mat-option [value]="nr"> {{ nr }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="submitSelected(selectPlayers.selectedOptions.selected)">
        Turnier Erstellen
      </button>
    </div>
  </div>
</app-content-tile>
