<app-content-tile [header]="'Training'">
  <p>
    Ja, Pool Billard kann man trainieren :) Bis auf ein paar wenige begnadigte Talente die durch sehr viel Spielen
    besser werden, ist es der einzige Weg, um das Spiel meistern zu lernen. Das geht grundlegend bei der Stoßtechnik
    los, über das Lochen, das Stellungsspiel, Strategie und Taktik, bis schlußendlich zur eigenen Einstellung und zum
    Mentaltraining.
  </p>
  <p>
    Sehr oft, aber insbesondere Dienstags ab 19 Uhr, findet ihr Spieler aus dem Verein in der Mensa vor. Hier wird häufig im Mannschaftsverbund oder einzeln trainiert. Wir haben einige sehr erfahrene Spieler in unserem Verein, die gerne ihr Wissen weitervermitteln. Wendet euch einfach an das freundliche Personal am Tresen.
  </p>
</app-content-tile>