<app-content-tile [header]="'Die Billardfabrik Leipzig e.V.'">
<p>
  Die noch junge Billardfabrik Leipzig gründete sich parallel zur Eröffnung des vermutlich
  attraktivsten Billardsalons der neuen Bundesländer: der Mensa. Das besondere
  Spielambiente dort möchte keiner von uns missen.
</p>


  <p>
    Die Billardfabrik Leipzig e.V. ist eine gemeinnütziger Verein zur Förderung des Billardsports.
  </p>
  <p>
    Wir bieten ein Zuhause für alle Billardbegeisterten, ihr Hobby auszuleben.
    Wir veranstalten Trainings, richten Turniere aus und nehmen am Ligabetrieb der Deutschen Billard Union (DBU) teil.
  </p>

  <p>
    Seit Anfang 2020 ist die Billardfabrik offizieller <i>Talentstützpunkt</i> des sächsischen Billardverbandes (SBV).
  </p>
</app-content-tile>
