<app-content-tile [header]="'Training'">
  <p>
    Ja, Pool-Billard kann man trainieren :-)
  </p>
  <p>
    Bis auf wenige begnadete Talente, die einfach 'nur' durch sehr viel Spielen
    besser werden, ist Training der einzige Weg, um seine Spieltechnik systematisch zu verbessern.
    Im Training üben wir Stoßtechnik und Lochen, das Stellungsspiel, Strategie und Taktik.
    Auch mentale Stärke und die Fähigkeit, sich im richtigen Moment zu konzentrieren,
    machen wirklich gute Billardspieler aus und lassen sich trainieren.
    Dazu eignen sich beispielsweise regelmäßige Turniere und die Teilnahme an unserem Ligabetrieb,
    aber auch gezielte Matches mit Vereinsmitgliedern oder anderen erfahrenen Spielern.
  </p>
  <p>
    Das Training für Anfänger und Fortgeschrittene findet in der Regel dienstags ab 19 Uhr in der Mensa statt.
    Wir trainieren je nach Teilnehmerzahl in Grüppchen. Unsere Übungsleiter István und Tobias vermitteln euch gerne ihr Wissen.
    Wendet euch einfach an das freundliche Personal am Tresen, um die richtigen Ansprechpartner zu finden.
  </p>
</app-content-tile>
