<app-content-tile [header]="'Ligabetrieb'">
  <p>
    Die Billardfabrik nimmt aktiv am Ligabetrieb im Poolbillard teil.
  </p>
  <p>
    In der Saison 2020/21 geht die Fabrik zum ersten Mal mit drei Mannschaften an den Start:
  </p>
  <ul>
    <li><b>BF 1 (Regionalliga Ost)</b>: Nach erfolgreicher letzer Saison, in der die erste Mannschaft der Billardfabrik
      Sachsenmeister geworden ist und somit in den bundesweiten Spielbetrieb aufgestiegen ist, versucht sie nun firm Fuß
      in der Regionalliga - auch 3. Bundesliga genannt - zu fassen. Das Ziel heißt in der erstan Saison erstmal klar:
      Klassenerhalt. Es spielen in der Mannschaft: Tobias Georgi (c), Clemens Ebert, Niklas Illing, Konstantin Knaub und Sven Wenkheimer.
    </li>
    <li><b>BF 2 (Oberliga Sachsen)</b>: Auch die zweite Mannschaft der Billardfabrik schaffte in der vergangenen Saison
      den Aufstieg, und zwar aus der Verbandsliga in die höchste sächsische Liga, die Oberliga.
      Es spielen in der Mannschaft: Guy Buss (c), István Pataki, Maximilian Grund, Sascha Wisatzke, Salam Maksimov und Vinh Nguyen.
    </li>
    <li><b>BF 3 (Landesliga Sachsen)</b>: Die neu gegründete Mannschaft der Billardfabrik muss sich in ihrer ersten Saison natürlich von unten hochkämpfen und spielt in der sächsischen Landesliga. Es spielen in der Mannschaft: Sebastian Müller (c), Peter Kästel, Tobias Hebel, Alec Baldin und Ronny Thieme.
    </li>
  </ul>
