@import '@angular/material/theming';
@import 'app/app-theme.scss';
@import 'assets/scss/breakpoints';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--color-secondary);

  --color-secondary: #63717e;
  --color-primary: #780F07;
  --color-fourth: #EAE2D6;

  --mat-prim: map-get($mat-blue-grey, 200);
}

// :root {
//   font-size:
// }

p::first-letter {
  font-size: 1.1em;
}

a {
  color: var(--color-primary);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

// make badge smaller after breakpoint as well.

@media only screen and (max-width: $breakpoint1) {
  :root {
    --mat-table-header-container-height: 28px;
    --mat-table-row-item-container-height: 36px;


    .mat-mdc-cell{
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 12px;
      line-height: normal;
    }

    .mat-mdc-header-cell {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size:12px;
    }
  }
}

@media only screen and (max-width: $breakpoint2) {
  :root {
    --mat-table-header-container-height: 18px;
    --mat-table-row-item-container-height: 26px;

    .mat-mdc-cell{
      padding-left: 0.25em;
      padding-right: 0.25em;
      font-size: 10px;
      line-height: normal;
    }

    .mat-mdc-header-cell {
      padding-left: 0.25em;
      padding-right: 0.25em;
      font-size:10px;
    }
  }
}
