  <mat-toolbar>
    <mat-checkbox [(ngModel)]="includeTourneys" (change)="setDataSource()">Turnierspiele</mat-checkbox>
    <mat-checkbox style="padding-left: 2em" [(ngModel)]="includeChallenges" (change)="setDataSource()">Challenges</mat-checkbox>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let item"> {{ item.date | dateKey }} </td>
    </ng-container>

    <ng-container matColumnDef="p1">
      <th mat-header-cell *matHeaderCellDef> Spieler 1 </th>
      <td mat-cell *matCellDef="let item"> {{ item.playerOne.name }} </td>
    </ng-container>

    <ng-container matColumnDef="p2">
      <th mat-header-cell *matHeaderCellDef> Spieler 2 </th>
      <td mat-cell *matCellDef="let item"> {{ item.playerTwo.name }} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Ergebnis </th>
      <td mat-cell *matCellDef="let item">
        {{ item.playerOne.points }} : {{ item.playerTwo.points }}
      </td>
    </ng-container>

    <ng-container matColumnDef="diff">
      <th mat-header-cell *matHeaderCellDef> &Delta; </th>
      <td mat-cell *matCellDef="let item">
        <span [class]="item.scores.bvf >= 0 ? 'pos' : 'neg'">{{ item.scores.bvf }} </span>
        /
        <span [class]="item.scores.bvf > 0 ? 'neg' : 'pos'">{{ -item.scores.bvf }} </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
