<app-content-tile [header]="'Unsere Spielstätte: Die Mensa'">
  <p>
    Unser Verein, die Billardfabrik, und seine Mitglieder trainieren und spielen in einem der vermutlich schönsten Billardsalons Leipzigs, wenn nicht gar Europas: der Mensa.
  </p>
  <a href="https://www.mensa-leipzig.de" target="_blank">
    <img class="mensa-logo" src="../assets/logos/mensa-logo-with-roof.svg" alt="Logo der Billardfabrik Leipzig e.V.">
  </a>
  <p>
    Zugegeben, das ist ein gewagtes Statement. Und zugegebenermaßen sind wir als Verein hier auch nicht ganz unparteiisch, denn einige unserer Gründungsmitglieder haben selbst viele Stunden bei der Gestaltung und Modernisierung der Mensa mitgearbeitet.
    Unser erster Spieltag als Verein fand in den Räumlichkeiten der Mensa im Herbst 2017 statt -- noch vor der offiziellen Eröffnung 2018.
    <!-- Insbesondere wenn man unter Betracht zieht, wie unsere gemeinsame Beziehung und Geschichte aussieht: Die Billardfabrik wurde um Juli 2017, noch vor der Eröffnung der Mensa gegründet. Die Gründungsmitglieder haben selbst viele Stunden bei der Gestaltung und Modernisierung der Mensa Hand angelegt. -->

  </p>

  <p>
    Die Mensa und die Billardfabrik teilen einige Gemeinsamkeiten in ihren Entstehungsgeschichten. Und auch heute bietet uns unsere Spielstätte das, was uns von Anfang an wichtig war: Hervorragende Spielbedingungen mit viel Platz in angenehmer Atmosphäre, hochwertiges Material und Tische, die gut gepflegt und regelmäßig neu bezogen werden.
  </p>
  <p>
    <a href="https://www.mensa-leipzig.de" target="_blank">Hier</a> geht es zur Webseite der Mensa.
  </p>

  <img style="width:100%" src="../assets/pics/mensa-strip.jpeg" alt="Panoramabild aus der Mensa">
</app-content-tile>
