<app-content-tile [header]="'Turnierübersicht'">
  <p>
    Hier findest Du Ergebnisse zu den vergangenen Turnieren.
    <span *ngIf="isTourneyAuthenticated()">
      Oder möchtest Du etwa ein neues <button mat-flat-button [routerLink]="'../create'">neues Turnier</button>
      erstellen?
    </span>
  </p>

  <mat-tab-group>
    <mat-tab label="Aktuelle Serie">
      <app-tourney-year-list [startingAt]="'20231101'" [endingAt]="'20240701'"></app-tourney-year-list>
    </mat-tab>

    <mat-tab label="2023">
      <app-tourney-year-list [year]="2023"></app-tourney-year-list>
    </mat-tab>

    <mat-tab label="2022">
      <app-tourney-year-list [year]="2022"></app-tourney-year-list>
    </mat-tab>

    <mat-tab label="2021">
      <app-tourney-year-list [year]="2021"></app-tourney-year-list>
    </mat-tab>

    <mat-tab label="2020">
      <app-tourney-year-list [year]="2020"></app-tourney-year-list>
    </mat-tab>
  </mat-tab-group>

</app-content-tile>
