<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link *ngFor="let tab of publicTabs"
    (click)="activeLink = tab.link"
    [active]="activeLink == tab.link"
    [routerLink]="tab.link">
    {{ tab.label }}
  </a>
  <a mat-tab-link *ngIf="isLoggedIn"
    (click)="activeLink = 'import'"
    [active]="activeLink == 'import'"
    [routerLink]="'import'">
    Import
  </a>
  <a mat-tab-link *ngIf="isLoggedIn"
    (click)="activeLink = 'player-management'"
    [active]="activeLink == 'player-management'"
    [routerLink]="'player-management'">
    Spielerverwaltung
  </a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
