<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @for (tab of publicTabs; track tab.link) {
    <a mat-tab-link
      (click)="activeLink = tab.link"
      [active]="activeLink == tab.link"
      [routerLink]="tab.link">
      {{ tab.label }}
    </a>
  }

  @if (isLoggedIn) {
    @for (tab of authenticatedTabs; track tab.link) {
      <a mat-tab-link
        (click)="activeLink = tab.link"
        [active]="activeLink == tab.link"
        [routerLink]="tab.link">
        {{ tab.label }}
      </a>
    }
  }
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
