<div class="container">
  <app-content-tile [header]="'Die Donnerstags-Serie'">
    <p>
      Das Turnier jeden zweiten Donnerstag in der Mensa! Einfach da sein und mitspielen, keine Voranmeldung
      nötig!
    </p>
    <ul>
      <li>Anmeldung bis 19:00 (bei leichter Verspätung bitte Bescheid geben)</li>
      <li>Startgeld 8€, 100% Ausschüttung</li>
      <li>8-/9-/10-Ball im Wechsel</li>
    </ul>
  </app-content-tile>

  <div class="menu-horizontal">
    <div class="menu-item" [routerLink]="'overview'" routerLinkActive="bgcol-primary-darker">
      Details
    </div>
    <div class="menu-item" [routerLink]="'list'" routerLinkActive="bgcol-primary-darker">
      Turniere
    </div>
    <div class="menu-item" [routerLink]="'leaderboard'" routerLinkActive="bgcol-primary-darker">
      Leaderboard
    </div>
  </div>

  <div class="menu-horizontal-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
