<div class="container">
    <div class="row">
        <div class="col col-8 col-sm-6">
            <app-content-header [header]="'Die Donnerstags-Serie'" [size]='2'></app-content-header>
            <p>
                Das Turnier jeden zweiten Donnerstag in der Mensa! Einfach da sein und mitspielen, keine Voranmeldung
                nötig!
            </p>
            <ul>
                <li>Anmeldung bis 19:00 (bei leichter Verspätung bitte Beschied geben)</li>
                <li>Startgeld 8€, 100% Ausschüttung</li>
                <li>8-/9-/10-Ball im Wechsel</li>
            </ul>
        </div>
        <div class="col col-4 col-sm-6">
            <img style="max-width:100%; height: auto;" src="../../../assets/other/thursday-series-poster.png"
                alt="Donnerstags-Turnier Poster">
        </div>
    </div>

    <div class="menu-horizontal">
        <div class="menu-item" [routerLink]="'overview'" routerLinkActive="bgcol-primary-darker">
            Details
        </div>
        <div class="menu-item" [routerLink]="'list'" routerLinkActive="bgcol-primary-darker">
            Turniere
        </div>
        <div class="menu-item" [routerLink]="'leaderboard'" routerLinkActive="bgcol-primary-darker">
            Leaderboard
        </div>
    </div>

    <div class="menu-horizontal-outlet">
        <router-outlet></router-outlet>
    </div>
</div>